<div class="about">
	<h1>About</h1>
	<p>
		ながのCakeは全国発送可能なケーキ屋さんです。<br>
		お子様からお年寄りの方までお召しいただけるよう、<br>
		様々なバリエーションをご用意しております。<br>
		全国へ発送可能ですので<strong>「いつ」</strong>でも<strong>「どこ」</strong>でもご注文いただけます。<br>
		♡♡ぜひご注文ください♡♡
	</p>
	<p>
		＞＞<%= link_to "商品を覗く", customers_items_path %>＜＜
	</p>
	<div class="about-visual">
		<div class="about-logo">
		</div>
	</div>
</div>