<h3 style="margin: 0 auto; color: #777777;">
ご購入ありがとうございました
</h3>
<div class="col-12 text-center" style="color: #777777;">
	<p>✨次回のご利用をお待ちしています✨</p>
</div>

 <div class="thanks" style="margin: 0 auto;">

    <a href="/">
        <div class="thanks-image"></div>
    </a>

    <h5 class="text-center" style="color: #777777;">
      このページは5秒後に自動でトップページへ移動します。<br>
      ※もし自動で移動しない場合は画像をクリックしてください。
    </h5>

    <script language="JavaScript">
      setTimeout(function(){
        location.href="/";
      },5000);
    </script>

  </div>


