/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

clearfix::after {
	content: "";
	display: block;
	clear: both;
}

h2 {
  color: #6699FF;
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px #FFBBFF;
  border-bottom: solid 2px #FFBBFF;
  background: -webkit-repeating-linear-gradient(-45deg, #FFDDFF, #FFDDFF 3px,#FFEEFF 3px, #FFEEFF 7px);
  background: repeating-linear-gradient(-45deg, #FFDDFF, #FFDDFF 3px,#FFEEFF 3px, #FFEEFF 7px);
  margin-bottom: 30px;
}



header {
	height: 100px;
}

li {
	margin-right: 10px;
}

.navbar-inverse {
	padding-top: 0px;
	background: linear-gradient(to left, #FFCCFF, #FFEEFF);
	border-bottom: solid 10px #D0B0FF;
}

.navbar-nav {
	 margin: 20px 20px;
}

#nav-message {
	margin-right: 50px;
	line-height: 30px;
}

body {
	background-color: #FFFFEE;
	flex: 1;
}

.main-visual {
	width: 700px;
	height: 280px;
	margin-bottom: 30px;
	background-image: url(bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 62px 150px;
	border-radius: 10px;
}


.main-visual-text {
	width: 400px;
	font-size: 16px;
	text-align: center;
	line-height: 250%;
	background-color: rgba(255,255,255,0.7);
	border-radius: 10px;
}


.genre-title {
	color: #6699FF;
	border-bottom: double 5px #FF82B2;
}


.about {
	text-align: center;
	margin: 0 auto;
}

.about > h1 {
	border-bottom: solid 10px #FF82B2;
	margin-bottom: 30px;
}

.about-visual {
	margin-top: 30px;
	width: 600px;
  	height: 380px;
	background-image: url(about.jpg);
  	background-size: cover;
  	background-position: center;
  	box-shadow: inset 0 0 15px 15px #FFFFee;
}

body > .container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.item-box {
	margin-right: 20px;
	float: left;
}

footer{
    width: 100%;
    height: 120px;
    background: linear-gradient(to left, #FFCCFF, #FFEEFF);
	border-top: solid 10px #D0B0FF;
    color: black;
    text-align: center;
    bottom: 0;
}
ul.footer-menu li {
	display: inline;
}

